<a href="https://colab.research.google.com/github/2403a51l53/2403A51L53_BATCH_52/blob/main/lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Question 1
import pandas as pd
import numpy as np

data = {
    "Student_ID": [1, 2, 3, 4, 5],
    "Name": ["Amit", "Sara", "John", "Lina", "Raj"],
    "Math": [80, 72, np.nan, 90, 85],
    "Science": [78, np.nan, 88, 92, 81],
    "English": [82, 76, 79, np.nan, 91]
}

df = pd.DataFrame(data)
df.fillna(df.mean(numeric_only=True), inplace=True)
high_achievers = df[(df['Math'] > 75) & (df['Science'] > 75) & (df['English'] > 75)]
print(high_achievers)

   Student_ID  Name   Math  Science  English
0           1  Amit  80.00     78.0     82.0
2           3  John  81.75     88.0     79.0
3           4  Lina  90.00     92.0     82.0
4           5   Raj  85.00     81.0     91.0