<a href="https://colab.research.google.com/github/2403a51l53/2403A51L52_BATCH_52/blob/main/PDS_(Lab_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Step 1: Create sample DataFrame with changed item names
data = {
    'Order ID': [201, 202, 203, 204, 205, 206, 207],
    'Product': ['Smartphone', 'Earbuds', 'Tablet', 'Smartwatch', 'Smartphone', 'Earbuds', 'Smartwatch'],
    'Quantity': [3, 12, 4, 6, 2, 18, 5],
    'Price': [25000, 1500, 18000, 8000, 25000, 1500, 8000]
}

df = pd.DataFrame(data)
print("\nInitial DataFrame:")
print(df)

# Step 2: Calculate Total Sale per order
df['Total Sale'] = df['Quantity'] * df['Price']
print("\nDataFrame with Total Sale:")
print(df)

# Step 3: Filter orders where Total Sale > 1000
filtered_df = df[df['Total Sale'] > 1000]
print("\nFiltered Orders (Total Sale > 1000):")
print(filtered_df)

# Step 4: Find most sold product using groupby
most_sold = df.groupby('Product')['Quantity'].sum().sort_values(ascending=False)
print("\nMost Sold Product:")
print(most_sold)

# Step 5: Add Discount column based on sale amount
# Example: 10% discount if sale > 20000 else 5%
df['Discount'] = df['Total Sale'].apply(
    lambda x: x * 0.10 if x > 20000 else x * 0.05
)
print("\nDataFrame with Discount Column:")
print(df)

# Step 6: Export the summary to Excel
df.to_excel("sales_summary.xlsx", index=False)

print("\nExcel file 'sales_summary.xlsx' created successfully.")

Initial DataFrame:
   Order ID     Product  Quantity  Price
0       201  Smartphone         3  25000
1       202     Earbuds        12   1500
2       203      Tablet         4  18000
3       204  Smartwatch         6   8000
4       205  Smartphone         2  25000
5       206     Earbuds        18   1500
6       207  Smartwatch         5   8000

DataFrame with Total Sale:
   Order ID     Product  Quantity  Price  Total Sale
0       201  Smartphone         3  25000       75000
1       202     Earbuds        12   1500       18000
2       203      Tablet         4  18000       72000
3       204  Smartwatch         6   8000       48000
4       205  Smartphone         2  25000       50000
5       206     Earbuds        18   1500       27000
6       207  Smartwatch         5   8000       40000

Filtered Orders (Total Sale > 1000):
   Order ID     Product  Quantity  Price  Total Sale
0       201  Smartphone         3  25000       75000
1       202     Earbuds        12   1500       18000
2       203      Tablet         4  18000       72000
3       204  Smartwatch         6   8000       48000
4       205  Smartphone         2  25000       50000
5       206     Earbuds        18   1500       27000
6       207  Smartwatch         5   8000       40000

Most Sold Product:
Product
Earbuds       30
Smartwatch    11
Smartphone     5
Tablet         4
Name: Quantity, dtype: int64

DataFrame with Discount Column:
   Order ID     Product  Quantity  Price  Total Sale  Discount
0       201  Smartphone         3  25000       75000    7500.0
1       202     Earbuds        12   1500       18000     900.0
2       203      Tablet         4  18000       72000    7200.0
3       204  Smartwatch         6   8000       48000    4800.0
4       205  Smartphone         2  25000       50000    5000.0
5       206     Earbuds        18   1500       27000    2700.0
6       207  Smartwatch         5   8000       40000    4000.0

Excel file 'sales_summary.xlsx' created successfully.